<h1>Recherche Voiture</h1>
<form action="" method="POST">
    Série: <input type="text" name ="input_serie">
    <input type="submit" value="Rechercher">

</form>
{% if voitures is empty %}
Aucune voiture trouvée
{% else %}
    <table border="1">
        <tr>
            <td>Serie</td>
            <td>Modele</td>
        </tr>
        {% for v in voitures %}
        <tr>
            <td>{{ v.serie }}</td>
            <td>{{ v.modele }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}